---
import { cn } from '../../lib/cn'
import CloseSvg from '../icons/close-svg.astro'
interface Props {
    title : string
    icon : string
    className?: string
    shadowBox? : boolean
    background? : string
}

const { icon, title, className, shadowBox, background } = Astro.props

const gradientClass = `bg-gradient-to-r ${background ? `from-${background}/30 to-${background}/90` : 'from-color-b-2/30 to-color-b-2/90'}`
---

<article class={cn('absolute top-6 -rotate-[4deg] left-0  overflow-hidden w-[21.3rem] h-20  shadow', className, background ? `bg-${background}`  : 'bg-color-b-2')}>
    <div class="flex items-center gap-x-4 relative w-full py-6 px-10">
        <img src={icon} width={32} height={32} class="w-8 h-8"/>
        <p class="font-roboto text-2xl text-white truncate">{title}</p>
    
        <span class={cn("absolute right-3 top-1/2 -translate-y-1/2 text-white z-30", shadowBox && 'z-10')}>
            <CloseSvg />
        </span>
    
      {
        !shadowBox &&   <div class={`absolute top-0 right-0 h-full w-32 bg-gradient-to-r shadow z-20 ${gradientClass}`}></div>
      }

        
    </div>
    {
        shadowBox && <div class="absolute h-full w-full bg-black/50  shadow -bottom-2 left-0 z-10"></div>
    }
</article>